[submodule "third_party/cimgui"]
	path = third_party/cimgui
	url = https://github.com/cimgui/cimgui
[submodule "third_party/rlImGui"]
	path = third_party/rlImGui
	url = https://github.com/raylib-extras/rlImGui
[submodule "third_party/rayopod"]
	path = third_party/rayopod
	url = https://github.com/CalcoDev/rayopod
